* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 320px;
  margin: 0 auto 2em;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form label {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
}

.form input {
  padding: 10px 15px;
  line-height: 1.5;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.form button {
  border-radius: 3px;
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.todo-list {
  width: 320px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 1em;
  border-radius: 5px;
}

.todo-item {
  background-color: #ccc;
  padding: 5px;
  border-radius: 4px;
}
